@use "../../assets/sass/variables" as *;

.ticket-counter {
  border: solid black 2px;
  width: 60%;
  height: 50%;
  border-radius: 10px;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__number {
    font-size: 50px;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;

    .buttons {
      min-width: 40px;
      min-height: 30px;
      border-radius: 20px;
      color: $color-white;
    }
    
    &--decrement {
      background-color: transparent;
      border: 2px solid $color-highlight; 
    }
    
    &--increment {
      background-color: $color-highlight;
      border: none;
    }

  }

}