@use "../../assets/sass/variables" as *;

.employee-tile {
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  color: $color-white;
  background-color: $color-primary;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .prefix {
    font-weight: bold;
  }

}