@use "./assets/sass/variables" as *;

* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: $color-background;
}

.header {
  color: $color-secondary;
  margin-bottom: 20px;
}